/* ajustando o fundo da página */
body {
  background-color: #123550;
  font-family: helvetica;
}

#container {
  width: 50%;
  margin: 30px auto;
  border: 1px solid #000;
  background-color: #156b8e;
  border-radius: 35px;
}

#form {
  border: none;
  padding: 20px; /* espaçamento interno */
  margin: 20px; /* espaçamento externo */
}

/* ajustando onde aparecerá a solução */
#areaResultado {
  margin-top: 20px;
  background-color: #eee;
  border-radius: 4px;
  width: 100%;
  padding: 10px; /* Reduzido o padding para evitar sobreposição */
  overflow: hidden; /* Para esconder qualquer conteúdo que possa transbordar */
  font-weight: bold;
  color: black;
  font-size: 1em;
}

h1 {
  color: #eee;
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid #0f4b63;
}

div {
  margin-bottom: 10px;
}

/* ajustando todos os inputs */
input {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* ajustando todas as labels */
label {
  color: #eee;
  font-weight: bold;
}

/* ajustando o botão */
button {
  margin-top: 10px;
  display: block;
  width: 100%;
  font-weight: bold;
  background-color: #0f4b63;
  color: #eee;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #0b3647;
}

/* ajustando a lista de exercícios */
ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
  color: #0f4b63;
  font-weight: bold;
  font-size: 1em;
}
